html, body {
  height: 100%;
}

#main-container {
  height: 100%;
}

.header-container{
	margin-bottom: 3%;
}

.top-header {
	background-color: #CB5A5A;
	color: #FFF;
	font-weight: bold;
}

.header-subtitle {
	background-color: #6B4444;
	color: #B38D8D;
}

.nav-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.nav-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.nav-item:hover {
  color: #B60E0E;
  text-decoration: none;
  background-color: #CBCBCB;
}

a {
  color: #000000;
  text-decoration: none;
}

.activity-name h4 {
  text-transform: uppercase;
  margin: 0px;
}

.home-title{
	margin-bottom: 5%;
}

.activity-name {
  padding: 10px 5px;
  background-color: #D5D9DE;
  border: solid 1px #aaa;
  border-radius: 8px;
}

.activity-info {
  margin: 0px 15px;
  padding: 15px;
  border: solid 1px #D5D9DE;
}

table.table.table-striped.booked-activities input {
  float: right;
}

.user-title h2{
  text-transform: uppercase;
}

noscript {
  display: block;
  margin-bottom: 0px !important; 
}